body{
    width: 90%;
    max-width: 50rem;
    min-width: 20rem;
    background-color: hwb(0 89% 5%);
    color: rgb(3, 19, 160);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: left;
    padding: 2rem;
 
}
    
 ul{   
display: flex;
justify-content: space-between;
list-style-type: none;
align-items: right;
padding: 1em;
font-style: italic;
}

a{
color: hsl(256, 100%, 7%);
text-decoration: none;

}

header img{
width: 9.37em;
height: 9.5em;
border-radius: 50%;
border: .3em solid #bc8f8f;
color: hsl(0, 25%, 65%);
}

.center{
text-align: center;
}

header h1{
    color: #5bbe42;
    font-style: italic;
    text-align: center;
}

footer{
    display: flex;
    justify-content: left;
}