body{
    width: 80%;
    max-width: 70rem;
    background-color: hwb(0 89% 5%);
    color: rgb(3, 19, 160);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: left;
    padding: 0 2rem;
 
}

.container{
    column-count: 2;
    column-gap: 2 ch;
    text-align: center;
    color: hsl(253, 96%, 50%);
    padding: 1rem;
}
 
}
a{
color: #556b2f;
text-decoration:none;
}

header img{
width: 8em;
height:8em;
border-radius: 50%;
border: 1em solid #bc8f8f;
color: hsl(0, 25%, 65%);
}

.center{
text-align: center;
margin-left: auto;
margin-right: auto;
}

header h1{
    color: #5bbe42;
    font-style: italic;
    text-align: center;
}

.footer{
    display: flex;
    padding-top: 1rem;
    color: #556b2f;
    justify-content: space-between;
    text-align: center; 
    border-top: .2rem solid #011601; ;
    border-bottom: .2rem solid #011601;
    padding: 3 rem;
}

Footer h1{
    color: #5bbe42;
    font-style: italic;
    text-align: center;
    }

footer img{
height : 3rem;
width: 3rem; 
 
}


